.wrapper-operar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

.operar-columnas-lados {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.operar-columna-central {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 1.25rem;
}

.operar-nombre-del-activo {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 1%;
}

.operar-descripcion-del-activo {
    text-align: justify;
    font-size: 1rem;
}

.operar-botones-wrapper {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.25rem;
}