.wrapper-operar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3%;
}

.operar-columnas-lados {
    width: 20%;
    height: 100%;
}

.operar-columna-central {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 5%;
}

.operar-nombre-del-activo {
    text-align: left;
    font-size: 1.5rem;
    margin-bottom: 1%;
}

.operar-descripcion-del-activo {
    text-align: justify;
    font-size: 0.9rem;
}