* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
  }
  
  .home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
    border: 10px solid #ff00ff; /* Borde rosa que se ve en la imagen */
    padding: 20px;
    background-image: url('C:\Users\Usuario\Desktop\API\Codigo\seminario\seminario\src\img\fondo.svg'); /* Asegúrate de poner el fondo repetido aquí */
    background-size: contain;
  }
  
  .header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .logo {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .btn {
    background-color: #ffb800; /* Color de fondo de los botones */
    border: none;
    border-radius: 8px;
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .btn:hover {
    background-color: #e0a800; /* Color al pasar el cursor */
  }