.wrapper-tutorial-chico {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-self: flex-end;
    width: 90%;
    position: absolute;
    left: 5%;
}

.wrapper-tutorial-chico-arriba {
    top: 12.5%;
}

.wrapper-tutorial-chico-abajo {
    top: 70%;
}