.estado-de-cuenta{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.estado-de-cuenta-tenencias{
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 3%;
}

.estado-de-cuenta-tenencias-listado-y-boton{
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}