.valor-info {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
  }

.valor-info-titulo {
    font-size: 1rem;
    text-align: left;
  }
  
.valor-info-contenido {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-bottom: 10px;
  }

.simbolo-pesos {
    width: 5rem;
  }
  
.valor-info-valor {
    margin: 0;
    font-size: 2.5rem;
}

/* Versión chiquita de la cotización para la vista de operar */

.valor-info.pequenio .valor-info-titulo {
  font-size: 1rem;
  text-align: left;
}

.valor-info.pequenio .simbolo-pesos {
  width: 3.5rem;
}

.valor-info.pequenio .valor-info-valor {
  margin: 0;
  font-size: 1.75rem;
}