.menu-seleccion-activos-opcion{
    color: #F9A003;
    border-bottom: 0.15rem solid black;
    padding: 1rem 0;
    cursor: pointer;
    font-size: 1.2rem;
}

.utilma-opcion {
    border-bottom: none;
}