/*Sidebar*/

.menu-seleccion-activos{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  gap: 0.5rem;

  overflow-y: scroll;
  scrollbar-width: 0.25rem;
  scrollbar-color: #573523 #F3E491;
  scrollbar-track-color: #F3E491;
}

.menu-seleccion-activos::-webkit-scrollbar {
  width: 0.25rem;
}

.menu-seleccion-activos::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 1rem;
}

.menu-seleccion-activos::-webkit-scrollbar-thumb {
  background: #F3E491;
  border-radius: 4px;
}

.menu-seleccion-activos::-webkit-scrollbar-thumb:hover {
  background: #F3E491;
}